# whitelist-style gitignore

# ignored items:

# (default: everything, but still search folders)
*
!*/







# allowed items:

# the gitignore (a little important)
!.gitignore

# project documents
!LICENSE
!README.md
!.github/
!.github/**

# other misc. project files
!requirements.txt
!setup.sh
!whatnow.kv

# source files
!src/*.py
!ui/*.kv

!build-appimage.sh
!buildozer.spec
!WhatNow.spec
!WhatNow.AppDir/AppRun
!WhatNow.AppDir/.DirIcon
!WhatNow.AppDir/WhatNow.desktop
!WhatNow.AppDir/WhatNow.png
WhatNow.AppDir/usr/bin/*
dist/*
