# whitelist-style gitignore

# (ignore everything)
/**




# allowed items:

# the gitignore, project documents
!.gitignore
!LICENSE
!README.md

# other misc. project files
!requirements.txt
!setup.sh

# source file dirs
!src
!src/*.py

!ui
!ui/*.xv

!p4a_recipes
!p4a_recipes/**