# whitelist-style gitignore

# ignored items:

# (default: everything, but still search folders)
*
!*/

# (not ignored by default for some reason)
.buildozer/android/platform/build-arm64-v8a/build/other_builds/numpy/






# allowed items:

# the gitignore (a little important)
!.gitignore

# project documents
!LICENSE
!README.md

# other misc. project files
!requirements.txt
!setup.sh
!whatnow.kv

# source files
!src/*.py
!apk-debug/*.apk
