audioop-lts==0.2.2
bidict==0.23.1
certifi==2026.1.4
charset-normalizer==3.4.4
dbus-fast==4.0.0
dbus-next==0.2.3
desktop-notifier==6.2.0
diskcache==5.6.3
docutils==0.22.4
filetype==1.2.0
idna==3.11
Jinja2==3.1.6
Kivy==2.3.1
Kivy-Garden==0.1.5
llama_cpp_python==0.3.16
MarkupSafe==3.0.3
MonthDelta==0.9.1
numpy==2.4.1
opencv-python==4.13.0.90
packaging==26.0
pillow==10.4.0
PyAudio==0.2.14
Pygments==2.19.2
pytesseract==0.3.13
requests==2.32.5
SpeechRecognition==3.14.5
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.15.0
urllib3==2.6.3
icalendar==7.0.3
pip==26.0.1
pywin32==311
six==1.17.0